<p>Hi,</p>
<p>
  You have been invited to <strong>{{ event_name }}</strong
  > event . Click on this link <a href="{{ event_invitation_url }}">{{ event_invitation_url }}</a> 
  to accept or reject the invite
</p>
<br />
<p>Regards,</p>
<p>Team Bottle Jockey</p>
